@import 'bower_components/angular-material/angular-material.scss';
@import 'styles/material-design-icons.scss';

$marginBase: 8px;
$marginSpace: 16px;
$trxColor: color 0.2s;
$trxBgColor: background-color 0.2s;
$bgMild: #eee;
$bgMildHover: #ddd;
$bgActive: #b9f6ca;
$bgActiveHover: #b2ecc2;
$bgToActive: #e6f6ed;
$bgFromActive: #f6e2b0;
$bgEmphasis: #d9eaed;
$txtGray: #666;
$txtBlackish: rgba(0, 0, 0, 0.87); // from angular-material

a {
  text-decoration: none;
  color: $txtBlackish;

  // Don't decorate until there is an href or something.
  &[href] {
    color: #448aff;
    transition: $trxColor;
    &:hover {
      color: #2c5999;
    }
  }

  .trk-textish {
    color: $txtBlackish;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: $marginBase;
  margin-bottom: $marginBase;
}

section {
  margin-bottom: $marginSpace;
  &:not(:last-of-type) {
    margin-right: $marginSpace;
  }
}

md-checkbox {
  margin-bottom: 0;
}

md-list {
  padding-top: 0;
  padding-bottom: 0;
}

md-input-container {
  margin-top: 0;
  margin-bottom: 0;
}

.trk-icon-public {
  color: darkgray;
}

.trk-icon-private {
}

.trk-top-help {

  h2:not(:first-of-type) {
    margin-top: $marginSpace;
  }

  .md-subhead {
    margin-left: $marginSpace;
  }

  .md-chip:not(.md-focused) {
    &:first-of-type, &:last-of-type {
      background-color: $bgEmphasis;
    }
  }

  .md-whiteframe-z1 {
    margin-bottom: $marginBase;
  }

}

.trk-top-home {
  .md-title md-input-container {
    margin-top: -8px; // Repo select alignment looks weird without it
  }

  .trk-banner {
    margin-top: 0;
    margin-bottom: 0;
    background: $bgMild;
  }
  .trk-banner-fire {
    @extend .trk-banner;
    background: red;
  }

  .trk-task-cards {

    .trk-task-card {

    }

    .trk-img-avatar {
      height: 40px;
      width: auto;
      display: block;
    }
  }

  .trk-task-lines {
    .trk-img-avatar {
      height: 25px;
    }
  }
}

// This need to be top level because md-select is not a child element.
.trk-header-select {
  margin-left: 0.5px;
  .md-text {
    @include md-title
  }
}

.trk-top-settings {

  small.md-subhead {
    color: $txtGray;
  }

  .trk-toggle-tiles {
    margin-bottom: $marginBase;
    margin-right: $marginBase;

    .trk-tile {
      display: inline-block;
      margin-top: $marginBase;
      margin-left: $marginBase;
      width: 240px;

      background-color: $bgMild;
      transition: $trxBgColor;
      cursor: pointer;

      &:hover {
        background-color: $bgMildHover;
      }

      &.trk-active {
        background-color: $bgActive;
        &:hover {
          background-color: $bgActiveHover;
        }
      }

    }

  }

  .trk-scopes {
    .trk-tile {
      height: 110px;
    }

    // Hide by default.
    .trk-add-icon, .trk-remove-icon {
      display: none;
    }

    .trk-add {
      &, &:hover {
        background-color: $bgToActive;
      }
      .trk-add-icon {
        display: inline-block;
      }
    }
    .trk-remove {
      &, &:hover {
        background-color: $bgFromActive;
      }
      .trk-remove-icon {
        display: inline-block;
      }
    }

  }

  .trk-repos {
    .trk-img-avatar {
      height: 50px;
    }

    .trk-owner {
      background-color: $bgMild;
    }

    .trk-chop {
      padding-left: $marginBase;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }
  }

}
