<div layout="column" layout-margin class="trk-top-home">
  <header layout="row">

    <div class="md-title" flex layout="row" layout-align="start center">
      <a class="material-icons" ng-href="{{ vm.repo.html_url }}/issues">open_in_new</a>
      &nbsp;
      <md-input-container>
        <md-select md-container-class="trk-header-select"
                   ng-model="vm.repo" ng-change="vm.selectedRepoChanged()"
                   aria-label="organization slash repository">
          <md-option ng-value="repo" ng-repeat="repo in vm.repos">{{ repo.full_name }}</md-option>
        </md-select>
      </md-input-container>
      &nbsp;
      <span layout="row" ng-show="vm.repo.private">
        <md-tooltip md-direction="top">Private repo</md-tooltip>
        <i class="material-icons trk-icon-private">lock_outline</i>
      </span>
      <span layout="row" ng-hide="vm.repo.private">
        <md-tooltip md-direction="top">Public repo</md-tooltip>
        <i class="material-icons trk-icon-public">lock_open</i>
      </span>
    </div>

    <md-checkbox layout="row" layout-align="start center"
                 md-no-ink ng-model="vm.prefs.alwaysRefresh">
      always refresh?
    </md-checkbox>
  </header>

  <section class="md-whiteframe-z2 trk-task-cards" ng-show="vm.fireTasks.length">
    <h2 layout-padding class="md-title trk-banner-fire">Fire</h2>

    <!-- cards, some info, assignee -->
    <div layout>
      <div flex=50 layout="row" layout-padding layout-align="start center" class="trk-task-card"
           ng-repeat="task in vm.fireTasks">
        <a flex ng-href="{{ task.html_url }}">#{{ task.number }}
          <span class="trk-textish">{{ task.title }}</span></a>

        <div layout="row">
          <img class="trk-img-avatar" ng-src="{{ task.assignee.avatar_url }}"/>
        </div>
      </div>
    </div>
  </section>

  <div layout="row">
    <section class="md-whiteframe-z1 trk-task-cards" flex="50%">
      <h2 layout-padding class="md-title trk-banner">Mine</h2>

      <!-- cards, some info, no self -->
      <md-list>
        <md-list-item ng-repeat="task in vm.myTasks">
          <a ng-href="{{ task.html_url }}">
            #{{ task.number }}
            <span class="trk-textish">{{ task.title }}</span>
          </a>
        </md-list-item>
    </section>

    <section class="md-whiteframe-z1 trk-task-lines" flex="50%">
      <h2 layout-padding class="md-title trk-banner">Involved</h2>

      <!-- lines, minimal info -->
      <md-list>
        <md-list-item ng-repeat="task in vm.watchTasks" layout="row">
          <div flex>
            <a ng-href="{{ task.html_url }}">#{{ task.number }}
              <span class="trk-textish">{{ task.title }}</span></a>
          </div>
          <img class="trk-img-avatar" ng-src="{{ task.assignee.avatar_url }}">
        </md-list-item>
      </md-list>
    </section>
  </div>
</div>