@import 'bower_components/angular-material/angular-material.scss';
@import 'styles/material-design-icons.scss';

$baseMargin: 8px;
$trxColor: color 0.2s;
$trxBgColor: background-color 0.2s;
$bgMild: #eee;
$bgMildHover: #ddd;
$bgActive: #b9f6ca;
$bgActiveHover: #b2ecc2;
$bgToActive: #e6f6ed;
$bgFromActive: #f6e2b0;

a {
  text-decoration: none;
  color: #448aff;
  transition: $trxColor;

  &:hover {
    color: #2c5999;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: $baseMargin;
  margin-bottom: $baseMargin;
}

.trk-top-home {
  .trk-banner-fire {
    margin-top: 0;
    background: red;
  }
  .trk-img-avatar {
    height: 40px;
  }
}

.trk-top-settings {

  .trk-toggle-tiles {
    margin-bottom: $baseMargin;
    margin-right: $baseMargin;

    .trk-tile {
      display: inline-block;
      margin-top: $baseMargin;
      margin-left: $baseMargin;
      width: 240px;

      background-color: $bgMild;
      transition: $trxBgColor;
      cursor: pointer;

      &:hover {
        background-color: $bgMildHover;
      }

      &.trk-active {
        background-color: $bgActive;
        &:hover {
          background-color: $bgActiveHover;
        }
      }

    }

  }

  .trk-scopes {
    .trk-tile {
      height: 80px;
    }

    // Hide by default.
    .trk-add-icon, .trk-remove-icon {
      display: none;
    }

    .trk-add {
      &, &:hover {
        background-color: $bgToActive;
      }
      .trk-add-icon {
        display: inline-block;
      }
    }
    .trk-remove {
      &, &:hover {
        background-color: $bgFromActive;
      }
      .trk-remove-icon {
        display: inline-block;
      }
    }

  }

  .trk-repos {
    .trk-img-avatar {
      height: 50px;
    }

    .trk-owner {
      background-color: $bgMild;
    }

    .trk-chop {
      padding-left: $baseMargin;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }

    .trk-icon-public {
      color: darkgray;
    }
    .trk-icon-private {
    }
  }

}