<div layout="column" layout-margin>
  <h1>Settings</h1>

  <!-- TODO GitHub scope management. Put notices where additional permissions may be useful. -->

  <h2>Repositories</h2>

  <div layout="column" class="trk-repos md-whiteframe-z1"
       ng-repeat="(ownerName, repos) in vm.reposByOwner">
    <div layout="row" layout-padding layout-align="start center" class="trk-owner">
      <img ng-src="{{ repos[0].owner.avatar_url }}"/>

      <div layout="row">
        <md-tooltip md-direction="top">Open user's GitHub</md-tooltip>
        <a layout-margin class="md-headline" target="_blank"
           ng-href="{{ repos[0].owner.html_url }}">{{ ownerName }}</a>
      </div>
    </div>

    <div class="trk-tiles">
      <div layout-padding class="trk-tile"
           ng-repeat="repo in repos">

        <div layout="row">
          <div layout="row">
            <md-tooltip md-direction="top">Open repo on GitHub</md-tooltip>
            <a class="material-icons" target="_blank" ng-href="{{ repo.html_url }}">open_in_new</a>
          </div>

          <div flex class="md-subhead trk-chop">{{ repo.name }}</div>

          <!-- layout b/c prevents extra bottom margin, even though there is no CSS margin/padding. -->
          <div layout="row" ng-show="repo.private">
            <md-tooltip md-direction="top">Private repo</md-tooltip>
            <i class="material-icons">lock_outline</i>
          </div>
          <div layout="row" ng-hide="repo.private">
            <md-tooltip md-direction="top">Public repo</md-tooltip>
            <i class="material-icons">lock_open</i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TODO If user has not included access beyond public, offer buttons to add those permissions. -->


  <h2>Other settings</h2>

  <md-input-container>
    <label>Cache Duration (ms)</label>
    <input type="text" ng-model="settings.cacheDuration"/>
  </md-input-container>
</div>