<div layout="column" layout-margin>
  <h1>Settings</h1>

  <!-- TODO GitHub scope management. Put notices where additional permissions may be useful. -->

  <h2>Repositories</h2>

  <div layout="column" class="trk-repos md-whiteframe-z1"
       ng-repeat="(ownerName, repos) in vm.reposByOwner">
    <div layout="row" layout-padding layout-align="start center" class="trk-owner">
      <img ng-src="{{ repos[0].owner.avatar_url }}"/>

      <a layout-margin class="md-headline" ng-href="{{ repos[0].owner.html_url }}">{{ ownerName }}</a>
    </div>

    <div class="trk-tiles">
      <div layout-padding class="trk-tile"
           ng-repeat="repo in repos">

        <div layout="row">
          <div flex class="md-subhead trk-chop">{{ repo.name }}</div>
          <i class="material-icons">lock_{{ repo.private ? 'outline' : 'open' }}</i>
        </div>
      </div>
    </div>
  </div>
  <!-- TODO If user has not included access beyond public, offer buttons to add those permissions. -->


  <h2>Other settings</h2>

  <md-input-container>
    <label>Cache Duration (ms)</label>
    <input type="text" ng-model="settings.cacheDuration"/>
  </md-input-container>
</div>