<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost/trekker</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.github.dirkraft.trekker.model.jpa.AuditLogJpa"/>
        <mapping class="com.github.dirkraft.trekker.model.jpa.FlagJpa"/>
        <mapping class="com.github.dirkraft.trekker.model.jpa.GhostJpa"/>
        <mapping class="com.github.dirkraft.trekker.model.jpa.HumanJpa"/>
        <mapping class="com.github.dirkraft.trekker.model.jpa.PriorityJpa"/>
        <mapping class="com.github.dirkraft.trekker.model.jpa.TaskJpa"/>
        <mapping class="com.github.dirkraft.trekker.model.jpa.TrekJpa"/>
        <mapping class="com.github.dirkraft.trekker.model.jpa.TrekStopJpa"/>

    </session-factory>
</hibernate-configuration>